/* Copyright 2022 Payton Quinn
   SPDX-License-Identifier: GPL-3.0-only */

.loading-container {
  display: block;
}

.svg-element { 
  display: inline;
  position: relative;
  top: 10%;
  left: 10%;
  height: 79%;
  width: 80% !important;
}

.notice-text {
  margin: 0;
  padding-top: 50%;
}